@charset "UTF-8";
.small {
	font-size: small;
}

.grey {
	color: grey;
}

.yellow {
	color: orange;
}

input.amount {
	width: 40px;
}

.item-key {
	display: inline-block;
	text-align: left;
	width: 100px;
}

.item-value {
	display: inline-block;
	margin-left: 20px;
	width: 120px;
	word-wrap: break-word;
}

.amount-icon i{
	margin: 0px;
	color: #727272;
	font-size: 26px;
}