header {
	border-bottom: 1px solid #e5e5e5;
}

.header-container {
	max-width: 1180px;
	margin: 0 auto;
	height: 84px;
	line-height: 84px;
	position: relative;
	text-align: center;
}

.header-center {
	
}

.header-logo {
	display: inline-block;
	vertical-align: middle;
	width: 190px;
	height: 24px;
	line-height: 84px;
	color: transparent;
	-webkit-text-fill-color: transparent;
	background: url(/resources/images/top-header-handsome-logo.png)
		no-repeat;
}

.header-right {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}

.header-option {
	font-size: 13px;
	font-weight: 600;
}

.header-option li {
	display: inline-block;
	padding: 0 4px;
}

.header-logout {
	border: none;
	background-color: white;
	color: #000;
	font-weight: 600;
	font-size: 13px;
}